# === Database ===
DB_NAME=currency_tracker
DB_USER=admin
DB_PASSWORD=admin

DB_URL=jdbc:postgresql://db:5432/${DB_NAME}

# === Mail (SMTP) ===
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MONITORING_EMAIL=

# === External price APIs ===
COIN_GECKO_API_KEY=

# === App ===
ALERTS_DELAY=60000